.welcome{
    font-size: 5rem;
    font-weight: 600;
    margin: 0;
    color: blue;
    line-height: 1.15;
    text-align: center;
}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5rem;
    text-align: center;
  }

  .multicolortext_small {
    background-image: linear-gradient(to left, violet, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1rem;
    text-align: center;
  }

  .info {
    font-size: 1.5rem;
    text-align: center;
    color: white;
  }